.openerp .oe_leftbar a.oe_logo img { width:60px; height: 100px; transition: 0.1s ease-in-out 0.1s;}
.openerp .oe_leftbar:hover a.oe_logo img { width:300px; transition: 0.1s ease-in-out 0.1s; }
.openerp .oe_leftbar, .openerp .oe_leftbar > div {width:0px; transition: 0.1s ease-in-out 0.1s;}
.openerp .oe_leftbar:hover, .openerp .oe_leftbar:hover > div {width:200px; transition: 0.1s ease-in-out 0.1s; }
.openerp .oe_leftbar .oe_secondary_menus_container, .openerp .oe_leftbar > div > div > div > div.oe_secondary_menus_container
{width:60px; overflow: hidden; transition: 0.1s ease-in-out 0.1s;}
.openerp .oe_leftbar:hover .oe_secondary_menus_container
{width:300px; overflow: auto; background-color: initial; transition: 0.1s ease-in-out 0.1s;}
.openerp .oe_secondary_submenu .oe_menu_text { overflow:visible; }
.openerp .oe_secondary_menu_section {white-space:nowrap;}
